@model IEnumerable<MVCBuckTrackerDemo.Models.BugModel>

@{
    ViewBag.Title = "BugList";

    int retrievedId = ViewBag.message;

}

@if (retrievedId == null)
{
    <h2>An Error Has Occured The Page Is Not Reachable</h2>
}


<h2>BugList</h2>

<p>
    @Html.ActionLink("Report Bug", "ReportBug", new { id = retrievedId })
</p>

@if (Model.Count() != 0 && Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BugProjectId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriorityLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BugProjectId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateBugs", new { id = item.Id }, new { @class = "btn btn-default btn-large" }) |
                    <input class="btn btn-default" type="submit" value="Delete"
                           onclick="return confirm(
                     'Are you sure you want to delete record with ID = @item.Id bug: @item.Description');" />
                </td>
            </tr>
        }
    </table>
}
