@model IEnumerable<MVCBugTrackerDemo.Models.BugModel>

@{
    ViewBag.Title = "Bug Related To Project";

    int retrievedId = ViewBag.message;

}

@if (retrievedId == null)
{
    <h2>An Error Has Occured The Page Is Not Reachable</h2>
}


<h2>List Of The Bug Related To The Project</h2>

@if (Model.Count() != 0 && Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BugProjectId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriorityLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BugProjectId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateBugs", new { id = item.Id }, new { @class = "btn btn-success btn-large" }) 
                    <input class="btn btn-danger" type="submit" value="Delete"
                           onclick="return confirm(
                     'Are you sure you want to delete record with ID = @item.Id bug: @item.Description');" />
                </td>
            </tr>
        }
    </table>
}

<p>
    @Html.ActionLink("Report A New Bug", "ReportBug", new { id = retrievedId }, new { @class = "btn btn-primary btn-large" })
</p>